body {
	background-color: white;
}

.odd {
	background-color: #F3F3F3;
}

.even {
	background-color: #E2E2E2;
}

td {
	padding: 10px 5px 10px 10px;
	font-size: 8pt;
	text-align: center;
	vertical-align: middle;
}

#column-headers > td {
	background-color: #A3AFCC;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}

td > a {
	text-decoration: none;
	color: black;

}
td > a > div {
	padding: 5px;
	border-radius: 5px;
	background-color: #A3AFCC;
}

#logout li {
	display: inline-block;
	padding: 10px;
}
#logout {
	/*position: absolute;*/
}

#home div{
	background-color: #E3E3E3;
	padding: 8px;
	border-radius: 8px;
	max-width: 3.5%;
	vertical-align: middle;
}
#home :hover {
	background-color: #A3AFCC;
	color: white;
}
#home {
	text-decoration: none;
	max-width: 20px;
	/*position: absolute;*/
}
#controls form td div a {
	float: right;
}